html {
    background-color: #666;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box {
    width: 400px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #000;
    transition: transform 0.2s, opacity 0.2s, filter 0.2s;
    opacity: 0.8;
    filter: grayscale(1);
    cursor: pointer;
}

.box:hover {
    opacity: 1;
    transform: scale(1.2);
    filter: grayscale(0);
}

.box img {
    display: block;
    width: 100%;
}